body {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 12px;
	width: 100%;
	margin: 0px auto;
	position: absolute;
	background: url(../images/loginbg.jpg) no-repeat;
	width: 0px auto;
	margin: 0px auto;
	background-size: 100% £»background-color:#E0E0E0;
}

.center {
	width: 350px;
	height: 320px;
	margin-right: 30px;
	margin-top: 200px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	border: 1px double #000;
	background-color: grey;
	filter: alpha(Opacity = 50);
	opacity: 0.6;
}

.ul {
	list-style: none;
}

.button_submit {
	width: 90px;
	height: 40px;
	background-color: red;
	margin-left: 120px;
}
