/*背景基本样式  */
.bd {
	width: 985px;
	height: 1000px;
	border: solid 1px #FFFFFF;
	background-color: #9D9D9D;
}

body {
	font-family: "微软雅黑";
	width: 985px;
	margin: auto;
	font-size: 12px;
	background: #BEBEBE;
}

.footerdiv {
	width: 985px;
	height: 80px;
	border: solid 1px;
	background: #BEBEBE;
}

.footerdiv.footer {
	font-family: "黑体" ；font-size : 15;
}

/*租客样式  */
.zkbd {
	width: 985px;
	height: 1200px;
	border: solid 1px #FFFFFF;
	background-color: #9D9D9D;
}
.dh {
	margin-top: 100px;
	width: 980px;
	height: 50px;
}

.daohang {
	margin-left: 1px;
	width: 980px;
	height: 50px;
	border: 2px solid #000;
	padding-left: 0px;
}

.tab {
	margin-top: 5px;
	margin-left: 28px;
}

.li1 {
	list-style-type: none; /* 去掉li前的点 */
	float: left;
	padding-top: 2px;
}

.li1_a {
	display: block; /*将a变成块状*/
	width: 196px; /*设置块的宽度*/
	height: 50px; /*设置块的长度*/
	font-family: 微软雅黑;
	line-height: 50px; /*设置字体在块中的高度*/
	background-color: #2f4f4f;
	margin: 0px 0px; /*块里的高宽通过margin设置*/
	color: #fff;
	text-align: center; /*字体居中*/
	text-decoration: none; /*去掉下划线*/
	font-size: 15px;
}

a:hover {
	background-color: #2f6f4f;
}
.zu{
	width:86px;
	height:78px;
	font-size: 60px;
	background-color: #bebebe;
	border-radius:43px 43px 43px 43px;
	float:left;
	margin-left:20px;
	margin-top:12px;
}
.fang{
	width:86px;
	height:78px;
	background-color: #bebebe;
	border-radius:43px 43px 43px 43px;
	float:right;
	margin-right:20px;
	margin-top:12px;
	font-size: 60px;
}
.zkmiddle {
	width: 680px;
	height: 80px;
	background-color: #e0e0e0;
	border-radius:20px 20px 20px 20px;
	margin-top: 10px;
	margin-left:47px;
	float: left;
}
.down-2{
	width:980px;
	height:300px;
	border:1px solid black;
	border-radius:20px 20px 20px 20px;
	float:left;
	margin-top:5px;
	background-color:#d0d0d0;
}
.down-left {
	float: left;
	width: 310px;
	height: 200px;
	border: solid 1px black;
	border-radius:20px 20px 20px 20px;
	background-color:#adadad;
	margin-left: 15px;
	margin-top: 35px;
}

.down-middle {
	float: left;
	width: 310px;
	height: 200px;
	border: solid 1px black;
	border-radius:20px 20px 20px 20px;
	background-color:#adadad;
	margin-left: 10px;
	margin-top: 35px;
}

.down-right {
	float: left;
	width: 310px;
	height: 200px;
	border: solid 1px black;
	border-radius:20px 20px 20px 20px;
	background-color:#adadad;
	margin-left: 10px;
	margin-top: 35px;
}
/*banner样式及banner中图片样式  */
.fangdongmain_top {
	height: 100px;
	width: 980px;
	margin-left: 2.5px;
	border: solid 1px;
	float: left;
}

.rt {
	width: 980px;
	height: 100px;
}
/*房东主页面样式  */
.huanyingfd {
	width: 980px;
	height: 50px;
	font-size: 30px;
	border: 1px solid black;
	margin-top: 102px;
}

.middle {
	width: 970px;
	height: 800px;
	border: 2px solid green;
	margin-top: 0px;
	padding: 5px;
}

.m-left {
	width: 300px;
	float: left;
	height: 380px;
	padding: 2px;
	border: 2px solid yellow;
	border-radius:20px 20px 20px 20px;
	text-align: center;
	font-size: 18px;
}

.attention {
	border: 2px solid blue;
	border-radius:20px 20px 20px 20px;
	width: 290px;
	height: 35px;
	padding: 3px;
}

.m-right {
	width: 570px;
	height: 380px;
	float: right;
	padding: 15px;
}

.m-right-d1 {
	width: 230px;
	height: 160px;
	margin-left: 20px;
	margin-top: 20px;
	border: solid 1px black;
	border-radius:40px 40px 40px 40px;
	
}

.m-right-d2 {
	width: 230px;
	height: 160px;
	margin-left: 20px;
	margin-top: 20px;
	border: solid 1px black;
	border-radius:40px 40px 40px 40px;
}

.m-right-d3 {
	width: 230px;
	height: 160px;
	border: solid 1px black;
	border-radius:40px 40px 40px 40px;
	margin-top: -345px;
	margin-right: 20px;
	float: right;
}

.m-right-d4 {
	width: 230px;
	height: 160px;
	margin-top: -162px;
	float: right;
	margin-right: 20px;
	border: solid 1px black;
	border-radius:40px 40px 40px 40px;
}