/*背景基本样式  */
.bd {
	width: 985px;
	height: 1000px;
	border: solid 1px #FFFFFF;
	background-color: #9D9D9D;
}
body {
	font-family: "微软雅黑";
	padding: 0 8px 0 10px;
	width: 985px;
	margin: auto;
	font-size: 12px;
	background: #BEBEBE;
}
.footerdiv {
	width: 985px;
	height: 80px;
	border: solid 1px;
	background: #BEBEBE;
}
.footerdiv.footer {
	font-family: "黑体" ；font-size : 15;
}
/*背景基本样式  */
/*banner样式及banner中图片样式  */
.houseinfo_top {
	height: 100px;
	width: 980px;
	margin-left: 2.5px;
	border: solid 1px;
	float: left;
}
.rt {
	width: 980px;
	height: 100px;
}
/*房东主页面样式  */
.huanying{
	width:980px;
	height:50px;
	font-size:30px;
	border:1px solid black;
	margin-top:10px;
}
.middle{
	width:970px;
    float:left;
    height:auto;
    margin-top:5px;
}
.fztb{
	width:80%;
	border:solid 1px black;
	float:left;
}

