/*背景基本样式  */
.bd {
	width: 985px;
	height: 1000px;
	border: solid 1px #FFFFFF;
	background-color: #9D9D9D;
}
body {
	font-family: "微软雅黑";
	padding: 0 8px 0 10px;
	width: 985px;
	margin: auto;
	font-size: 12px;
	background: #BEBEBE;
}
.footerdiv {
	width: 985px;
	height: 80px;
	border: solid 1px;
	background: #BEBEBE;
}
.footerdiv.footer {
	font-family: "黑体" ；font-size : 15;
}
/*背景基本样式  */
.daohang {
	margin: 0px auto;
	width: 940px;
	height: 50px;
	border: 2px solid #000;
}
.huanying{
	width:980px;
	height:50px;
	font-size:30px;
	border:1px solid black;
	margin-top:10px;
}
.w1{ width:160px; padding-right:0; text-align:right; font-size:14px; background-color:#e8fbff}
.down{ width:758px; border-collapse:collapse;}
.button_1{
	margin-left:300px;
    float:left;
}