/*背景基本样式  */
.bd {
	width: 985px;
	height: 700px;
	border: solid 1px #FFFFFF;
	background-color: #9D9D9D;
}
body {
	font-family: "微软雅黑";
	padding: 0 8px 0 10px;
	width: 985px;
	height: 700px;
	margin: auto;
	font-size: 12px;
	background: #BEBEBE;
}
.footerdiv {
	width: 985px;
	height: 80px;
	border: solid 1px;
	background: #BEBEBE;
}
.footerdiv.footer {
	font-family: "黑体" ；font-size : 15;
}
/*背景基本样式  */
.daohang {
	margin: 0px auto;
	width: 940px;
	height: 50px;
	border: 2px solid #000;
}
.huanying{
	width:980px;
	height:50px;
	font-size:30px;
	border:1px solid black;
	margin-top:10px;
}
.td-left{
	
	float:left;
	pading-left:100px;
	padding-top:50px;
	margin-left:60px;
}
.td-right{
	
	float:left;
	padding-top:50px;
	margin-left:100px;
}
/*特殊td设置 保证缩进整齐  */
.td-right1{
	float:left;
	padding-top:50px;
	margin-left:90px;
}
.td-right2{
	float:right;
	margin-top:-120px;
	margin-right:5px;
}
.middletb{
	margin-top:3px;
	margin-left:50px;
	
}
.dimg{
	height:150px;
	width:1000px;
	float:left;
	margin-top:50px;
}
.butn{
	margin-left:390px;
}