
*{padding:0;margin:0}
img{border:0}
.bd{width:985px;height:800px;border:solid 1px #FFFFFF;background-color:#9D9D9D}
body{font-family: "微软雅黑";padding:0 8px 0 10px; width:985px; margin:auto; font-size:12px; background:#BEBEBE;}
.register_top{height:100px;width:980px;margin-left:2.5px;border:solid 1px;float:left;}
.rt{width:980px;height:100px;}
.h1{font-family:"楷书";color:#AE0000;}
.fill_message{background-color:#F0F0F0;
              padding-left:20px;
              padding-right:20px;
              margin-top:100px; margin-left:280px;
              border:double 5px #272727;
              float:left;}
 .button_1{margin-left:150px;width:100px;height:30px;background-color:#00EC00;}
 .footerdiv{width:985px;height:80px;border:solid 1px;background:#BEBEBE;}
 .footerdiv.footer{font-family:"黑体"；font-size:15;}
 