<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.zufangwang.dao.HouseDao">
         <!-- 房屋相关操作 -->
   <insert id="insertpath" >
   		insert into Photo values(photo_seq.nextval,#{house_id},#{path})
   </insert>
   <insert id="insert" parameterType="House">
      insert into House values(house_seq.nextval,#{category_id},#{user_id},#{house_name},#{house_type},#{house_area},#{house_address},#{live_number},#{room_number},#{room_sheshi},#{house_price},#{house_describe},#{house_state})
   </insert>
   <select id="getfid" resultType="java.lang.Integer">
     select house_seq.currval from dual
   </select>
   <!--查询最新发布的六条房屋 -->
   <resultMap id="houseresultMap1" type="House">
     <id property="house_id" column="house_id"/>
    <collection property="photo" ofType="com.zufangwang.entity.Photo">
      <result column="photo_path" property="photo_path"/>
    </collection>
   </resultMap>
   <select id="newest" resultMap="houseresultMap1">
    select h.house_id,
		p.photo_path 
		from house h 
			left join photo p 
			on h.house_id=p.house_id
				where p.photo_id in 
					(select min(photo_id) from photo group by house_id) 
				and rowNum&lt;=6 order by h.house_id desc
   </select>
   
   <!--查询单条信息  -->
   <resultMap id="houseresultMap" type="House">
     <id property="house_id" column="house_id"/>
	   <result property="house_name" column="house_name"/>
	   <result property="house_type" column="house_type"/>
	   <result property="house_area" column="house_area"/>
	   <result property="house_address" column="house_address"/>
	   <result property="live_number" column="live_number"/>
	   <result property="room_number" column="room_number"/>
	   <result property="room_sheshi" column="room_sheshi"/>
	   <result property="house_price" column="house_price"/>
	   <result property="house_describe" column="house_describe"/>
	   <result property="house_state" column="house_state"/>
	   <result property="category_id" column="category_id"/>
    <collection property="photo" ofType="com.zufangwang.entity.Photo">
      <result column="photo_path" property="photo_path"/>
    </collection>
   </resultMap>
	<select id="selectone" resultMap="houseresultMap">
	  select h.house_id as house_id,
	         h.house_name as house_name,
	         h.house_type as house_type,
	         h.house_area as house_area,
	         h.house_address as house_address,
	         h.live_number as live_number,
	         h.room_number as room_number,
	         h.room_sheshi as room_sheshi,
	         h.house_price as house_price,
	         h.house_describe as house_describe,
	         h.house_state as house_state,
	         h.category_id as category_id,
	  		 p.photo_path as photo_path
	  	from house h left join Photo p 
	  		on h.house_id=p.house_id
	  			where h.house_id = #{house_id}
	</select>
	<!--查看当前房屋房东id  -->
	<select id="selectfangdongid" resultType="java.lang.Integer">
	   select user_id from House where house_id=#{house_id}
	</select>
	<!--更改房屋state  -->
  <update id="updateHouseState" parameterType="java.lang.Integer">
	 update House set house_state = 'yes' where house_id=#{house_id}
	</update>
<!--查询房东名下所有房屋  -->
   <resultMap id="myhouses" type="House">
     <id property="house_id" column="house_id"/>
	   <result property="house_name" column="house_name"/>
	   <result property="house_type" column="house_type"/>
	   <result property="house_area" column="house_area"/>
	   <result property="house_address" column="house_address"/>
	   <result property="house_price" column="house_price"/>
	   <result property="house_state" column="house_state"/>
    <collection property="photo" ofType="com.zufangwang.entity.Photo">
      <result column="photo_path" property="photo_path"/>
    </collection>
   </resultMap>
<select id="querymyhouses" resultMap="myhouses">
 select h.house_id as house_id,
	         h.house_name as house_name,
	         h.house_type as house_type,
	         h.house_area as house_area,
	         h.house_address as house_address,
	         h.house_price as house_price,
	         h.house_state as house_state,
	  		 p.photo_path as photo_path
	  	from house h left join Photo p 
	  		on h.house_id=p.house_id
	  		where p.photo_id in 
					(select min(photo_id) from photo group by house_id) 
				and h.user_id = #{user_id}
 </select>
 <delete id="cancel" parameterType="java.lang.Integer">
 delete from House where house_id=#{house_id}
</delete>
</mapper>