<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace指定要实现的接口 全限定名 -->
<mapper namespace="com.zufangwang.dao.OrderDao">
   <!--创建新的订单  -->
	<insert id="insert" parameterType="Order">
		insert into z_Order values(order_seq.nextval,#{house_id},#{fangdong_id},#{house_name},#{zuke_id},#{in_time},#{out_time},#{price},#{order_time},#{order_state})
	</insert>
   <!--查看单个订单  -->
   <select id="selectone" resultType="Order" parameterType="java.lang.Integer">
     select * from z_Order where order_id = #{order_id}
   </select>
	
	 <select id="zkselect" resultType="Order" parameterType="java.lang.Integer">
	   select * from z_Order where zuke_id=#{zuke_id} 	
	</select>
	
	<select id="fdselect" resultType="Order" parameterType="java.lang.Integer">
	   select * from z_Order where fangdong_id=#{fangdong_id}
	</select>
	<!-- 查看所有订单 -->
	<select id="selectall" resultType="Order">
	   select * from z_Order
	</select>
	<!--删除订单  -->
	<delete id="deleteOrder" parameterType="java.lang.Integer">
	   delete from z_Order where order_id =#{order_id}
	</delete>
</mapper>
