<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.zufangwang.dao.UserDao">
         <!-- 登录操作 -->
  <select id="selectone" resultType="User">
    select * from Users where user_email = #{email} and user_password = #{password}
  </select>
         <!-- 注册操作 -->
  <insert id="insert" parameterType="User">
    insert into Users values(u_seq.nextval,#{user_name},#{user_password},#{user_email},#{user_phone},#{user_state},#{user_category})
  </insert>
         <!-- 更改信息操作 -->
  <update id="update">
   update Users set user_name=#{name}, user_phone=#{phone},user_password = #{password} ,user_category=#{category} where user_id = #{id}
  </update>
  <!--查询所有用户信息  -->
  <select id="selectAll" resultType="User">
        select * from Users where user_id != 1
  </select>
         <!-- 删除操作 -->
  <delete id="cancel" parameterType="java.lang.Integer">
   delete from Users where user_id=#{user_id}
  </delete>
</mapper>